body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  background-color: #aaa;
  font: 400 15px/1.8 Lato, sans-serif;
  color: #333;
}
* {box-sizing: border-box;}

.navbar {
  font-family: Montserrat, sans-serif;
}
.bg-1 {
    padding: 80px 120px;
    background: #d3d3cf;
    color: #535353;
    overflow: auto;
}
.bg-2 {
    padding: 80px 120px;
    background: #3d3d40;
    color: #bdbdbd;
    overflow: auto;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
img.fixed {
	position: fixed;
        cursor: pointer;
  	bottom: 15px;
  	right: 15px;
  	width: 75px;
  	height: 75px;
}
img.iconpic {
	vertical-align: text-bottom;
  	width: 25px;
  	height: 25px;
        padding:2px;
}
.p_user {
	vertical-align: middle;
	text-align: right;
	margin 5px;
	min-height: 25px;
        padding:5px;
	background-color: #ADD8E6;
	border: solid 1px #ADD8E6;
	border-radius: 10px;
        color: black;
}

.p_bot {
	vertical-align: middle;
	text-align: left;
	margin 5px;
	text-indent: 5em hanging each-line;
	min-height: 25px;
        padding:5px;
	background-color: #90EE90;
	border: solid 1px #90EE90;
	border-radius: 10px;
        color: black;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: #fff;
}

/* Add styles to the form container */
.form-container {
  font-size:95%;
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
}

/* Full-width textarea */
.form-container div {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  height: 300px;
  overflow: scroll;
}

.form-container input {
  width: 80%;
  padding: 5px 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 30px;
}

/* When the textarea gets focus, do something */
.form-container input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
